@{
    Layout = "Master.cshtml";
}
<html>
<head>
    <style type="text/css">
       .imgagepos {
            width: 100%;
            text-align: center;
            margin: auto;
        }
     </style>
</head>

<body>

    <!-- Jumbotron -->
    <div style="background:#BBF3FC !important" class="jumbotron">
        <h1>Latest design colletion</h1>
        <p class="lead">something something</p>
        <a style="background-color: lightcoral; border:lightcoral; " black class="btn btn-large btn-success" href="clothes.cshtml">Show collection</a>
    </div>
        <div class="span2">
            <img class="imgagepos" src="http://ensia.com/wp-content/uploads/2015/06/features_chemicals_clothes_main-760x378.jpg" alt="Clothes">
        </div>

</body>
</html>
