@{
    Layout = "Master.cshtml";
}
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/Styles/RegisterStyleSheet.css" />
    </head>
    <body>
    
    <h1 class="header">Register</h1>
    <div class="inputUser" align="center">
        <p>
            <label for="FirstName">Firstname</label>
            <input type="text" name="FirstName" value="" id="FirstName">
        </p>
        
        

        <p>Lastname: <input type="text" name="LastName" value="">
        </p>
        <p>SSN: <input type="text" name="SSN" value="">
        </p>
        <p>Address: <input type="text" name="Address" value="">
        </p>
        <p>City: <input type="text" name="City" value="">
        </p>
        <p>Zipcode: <input type="text" name="Zip" value="">
        </p>
        <p>Phonenumber: <input type="tel" name="PhoneNumber" value="">
        </p>
        <p>Email: <input type="email" name="" value="">
        </p>
        <p>Username: <input type="text" name="UserName" value="">
        </p>
        <p>Password: <input type="password" name="Password" value="">
        </p>
    </div>
    <input type="submit" value="Submit" class="SubmitButton">

    </body>
    </html>