@{
    Layout = "Master.cshtml";
}
<html>
    <body>
        <form>
            <input class="span2" type="Search" placeholder="Search">
            <button type="submit" class="btn">Search</button>
        </form>
        

    </body>
</html>
