@{
    Layout = "Master.cshtml";
}
<style type="text/css">
    .loginwindow {
        width: 50%;
        text-align: center;
        margin: 200px auto;
    }
    .loginwindowtest:hover{
        background-color: #ff9966
    }
</style>
<html>
    <body>
        <form class="loginwindow">
            <input class="span2" type="Search" placeholder="Search">
            <button type="submit" class="btn loginwindowtest">Search</button>
        </form>
        

    </body>
</html>
