@{
    Layout = "../Master.cshtml";
}
<style>
          .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

</style>
<html>
    <body>
        <form class="form-signin">
            <h2 class="form-signin-heading">Type in item properties</h2>
            <input type="text" class="input-block-level" placeholder="Name">
            <input type="text" class="input-block-level" placeholder="Type">
            <input type="text" class="input-block-level" placeholder="Size">
            <input type="text" class="input-block-level" placeholder="Gender">
            <input type="text" class="input-block-level" placeholder="herp">
            <input type="text" class="input-block-level" placeholder="derp">
            <button class="btn btn-large btn-primary" type="submit">Add item</button>
        </form>
    </body>
</html>
